<ion-view view-title="Playlist Checklist">
  <ion-content>
    <ion-list>
      <ion-checkbox class="checkbox-dark" ng-model="items[0].valid"  ng-change="editMember(0,  items[0].valid)">Trade with Snuggly</ion-checkbox>
      <ion-checkbox class="checkbox-dark" ng-model="items[1].valid"  ng-change="editMember(1,  items[1].valid)">Collect all Miracles</ion-checkbox>
      <ion-checkbox class="checkbox-dark" ng-model="items[2].valid"  ng-change="editMember(2,  items[2].valid)">Collect all Pyromancies</ion-checkbox>
      <ion-checkbox class="checkbox-dark" ng-model="items[3].valid"  ng-change="editMember(3,  items[3].valid)">Collect all Sorceries</ion-checkbox>
      <ion-checkbox class="checkbox-dark" ng-model="items[4].valid"  ng-change="editMember(4,  items[4].valid)">Collect all Titanite Slabs</ion-checkbox>
      <ion-checkbox class="checkbox-dark" ng-model="items[5].valid"  ng-change="editMember(5,  items[5].valid)">Max Covenants</ion-checkbox>
      <ion-checkbox class="checkbox-dark" ng-model="items[6].valid"  ng-change="editMember(6,  items[6].valid)">Farm Humanities</ion-checkbox>
      <ion-checkbox class="checkbox-dark" ng-model="items[7].valid"  ng-change="editMember(7,  items[7].valid)">Upgrade Weapons and Armors</ion-checkbox>
      <ion-checkbox class="checkbox-dark" ng-model="items[8].valid"  ng-change="editMember(8,  items[8].valid)">Upgrade Estus Flask</ion-checkbox>
      <ion-checkbox class="checkbox-dark" ng-model="items[9].valid"  ng-change="editMember(9,  items[9].valid)">Stock up on useable items</ion-checkbox>
      <ion-checkbox class="checkbox-dark" ng-model="items[10].valid" ng-change="editMember(10, items[10].valid)">Kill optional Bosses</ion-checkbox>
      <ion-checkbox class="checkbox-dark" class="button-dark" ng-model="items[11].valid" ng-change="editMember(11, items[11].valid)">Kill all Crystal Lizards</ion-checkbox>
      <ion-checkbox class="checkbox-dark" ng-model="items[12].valid" ng-change="editMember(12, items[12].valid)">Something</ion-checkbox>
      <div class="item item-divider">Finish NPC Questlines</div>
      <ion-checkbox class="checkbox-dark" ng-model="items[13].valid" ng-change="editMember(13, items[13].valid)">Siegmeyer of Catarina</ion-checkbox>
      <ion-checkbox class="checkbox-dark" ng-model="items[14].valid" ng-change="editMember(14, items[14].valid)">Big Hat Logan</ion-checkbox>
      <ion-checkbox class="checkbox-dark" ng-model="items[15].valid" ng-change="editMember(15, items[15].valid)">Dusk of Oolacile</ion-checkbox>
      <ion-checkbox class="checkbox-dark" ng-model="items[16].valid" ng-change="editMember(16, items[16].valid)">Knight Lautrec of Carim</ion-checkbox>
      <ion-checkbox class="checkbox-dark" ng-model="items[17].valid" ng-change="editMember(17, items[17].valid)">Petrus of Thorolund</ion-checkbox>
      <ion-checkbox class="checkbox-dark" ng-model="items[18].valid" ng-change="editMember(18, items[18].valid)">Quelaana of Izalith</ion-checkbox>
      <ion-checkbox class="checkbox-dark" ng-model="items[19].valid" ng-change="editMember(19, items[19].valid)">Hawkeye Gough</ion-checkbox>
    </ion-list>
  </ion-content>
</ion-view>
