<ion-view view-title="Miracles">
  <ion-content>
    <ion-checkbox class="checkbox-dark" ng-model="items[0].valid"  ng-change="editMember(0,  items[0].valid)">Bountiful Sunlight</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[1].valid"  ng-change="editMember(1,  items[1].valid)">Darkmoon Blade</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[2].valid"  ng-change="editMember(2,  items[2].valid)">Emit Force</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[3].valid"  ng-change="editMember(3,  items[3].valid)">Force</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[4].valid"  ng-change="editMember(4,  items[4].valid)">Gravelord Greatsword Dance</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[5].valid"  ng-change="editMember(5,  items[5].valid)">Gravelord Sword Dance</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[6].valid"  ng-change="editMember(6,  items[6].valid)">Great Heal Excerpt</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[7].valid"  ng-change="editMember(7,  items[7].valid)">Great Heal</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[8].valid"  ng-change="editMember(8,  items[8].valid)">Great Lightning Spear</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[9].valid"  ng-change="editMember(9,  items[9].valid)">Great Magic Barrier</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[10].valid" ng-change="editMember(10, items[10].valid)">Heal</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[11].valid" ng-change="editMember(11, items[11].valid)">Homeward</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[12].valid" ng-change="editMember(12, items[12].valid)">Karmic Justice</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[13].valid" ng-change="editMember(13, items[13].valid)">Lightning Spear</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[14].valid" ng-change="editMember(14, items[14].valid)">Magic Barrier</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[15].valid" ng-change="editMember(15, items[15].valid)">Replenishment</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[16].valid" ng-change="editMember(16, items[16].valid)">Seek Guidance</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[17].valid" ng-change="editMember(17, items[17].valid)">Soothing Sunlight</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[18].valid" ng-change="editMember(18, items[18].valid)">Sunlight Blade</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[19].valid" ng-change="editMember(19, items[19].valid)">Sunlight Spear</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[20].valid" ng-change="editMember(20, items[20].valid)">Tranquil Walk of Peace</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[21].valid" ng-change="editMember(21, items[21].valid)">Vow of Silence</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[22].valid" ng-change="editMember(22, items[22].valid)">Wrath of the Gods</ion-checkbox>
  </ion-content>
</ion-view>
