<ion-view view-title="Pyromancies">
  <ion-content>
    <ion-checkbox class="checkbox-dark" ng-model="items[0].valid"  ng-change="editMember(0,  items[0].valid)">Acid Surge</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[1].valid"  ng-change="editMember(1,  items[1].valid)">Black Flame</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[2].valid"  ng-change="editMember(2,  items[2].valid)">Chaos Fire Whip</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[3].valid"  ng-change="editMember(3,  items[3].valid)">Chaos Storm</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[4].valid"  ng-change="editMember(4,  items[4].valid)">Combustion</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[5].valid"  ng-change="editMember(5,  items[5].valid)">Fire Orb</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[6].valid"  ng-change="editMember(6,  items[6].valid)">Fire Surge</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[7].valid"  ng-change="editMember(7,  items[7].valid)">Fire Tempest</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[8].valid"  ng-change="editMember(8,  items[8].valid)">Fire Whip</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[9].valid"  ng-change="editMember(9,  items[9].valid)">Fireball</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[10].valid" ng-change="editMember(10, items[10].valid)">Firestorm</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[11].valid" ng-change="editMember(11, items[11].valid)">Flash Sweat</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[12].valid" ng-change="editMember(12, items[12].valid)">Great Chaos Fireball</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[13].valid" ng-change="editMember(13, items[13].valid)">Great Combustion</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[14].valid" ng-change="editMember(14, items[14].valid)">Great Fireball</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[15].valid" ng-change="editMember(15, items[15].valid)">Iron Flesh</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[16].valid" ng-change="editMember(16, items[16].valid)">Poison Mist</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[17].valid" ng-change="editMember(17, items[17].valid)">Power Within</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[18].valid" ng-change="editMember(18, items[18].valid)">Toxic Mist</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[19].valid" ng-change="editMember(19, items[19].valid)">Undead Rapport</ion-checkbox>
  </ion-content>
</ion-view>
