<ion-view view-title="Spells">
  <ion-content>
    <ion-checkbox class="checkbox-dark" ng-model="items[0].valid"  ng-change="editMember(0,  items[0].valid)">Aural Decoy</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[1].valid"  ng-change="editMember(1,  items[1].valid)">Cast Light</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[2].valid"  ng-change="editMember(2,  items[2].valid)">Chameleon</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[3].valid"  ng-change="editMember(3,  items[3].valid)">Cyrstal Magic Weapon </ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[4].valid"  ng-change="editMember(4,  items[4].valid)">Cyrstal Soul Spear</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[5].valid"  ng-change="editMember(5,  items[5].valid)">Dark Bead</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[6].valid"  ng-change="editMember(6,  items[6].valid)">Dark Fog</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[7].valid"  ng-change="editMember(7,  items[7].valid)">Dark Orb</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[8].valid"  ng-change="editMember(8,  items[8].valid)">Fall Control</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[9].valid"  ng-change="editMember(9,  items[9].valid)">Great Heavy Soul Arrow</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[10].valid" ng-change="editMember(10, items[10].valid)">Great Magic Weapon</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[11].valid" ng-change="editMember(11, items[11].valid)">Great Soul Arrow</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[12].valid" ng-change="editMember(12, items[12].valid)">Heavey Soul Arrow</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[13].valid" ng-change="editMember(13, items[13].valid)">Hidden Body</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[14].valid" ng-change="editMember(14, items[14].valid)">Hidden Weapon</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[15].valid" ng-change="editMember(15, items[15].valid)">Homing Crystal Soulmass</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[16].valid" ng-change="editMember(16, items[16].valid)">Homing Soulmass</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[17].valid" ng-change="editMember(17, items[17].valid)">Hush</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[18].valid" ng-change="editMember(18, items[18].valid)">Magic Shield</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[19].valid" ng-change="editMember(19, items[19].valid)">Magic Weapon</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[20].valid" ng-change="editMember(20, items[20].valid)">Pursuers</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[21].valid" ng-change="editMember(21, items[21].valid)">Remedy</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[22].valid" ng-change="editMember(22, items[22].valid)">Repair</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[23].valid" ng-change="editMember(23, items[23].valid)">Resist Curse</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[24].valid" ng-change="editMember(24, items[24].valid)">Soul Arrow</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[25].valid" ng-change="editMember(25, items[25].valid)">Soul Spear</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[26].valid" ng-change="editMember(26, items[26].valid)">Strong Magic Shield</ion-checkbox>
    <ion-checkbox class="checkbox-dark" ng-model="items[27].valid" ng-change="editMember(27, items[27].valid)">White Dragon Breath</ion-checkbox>
  </ion-content>
</ion-view>
